/.MiniJavaImportedNamespaceAwareLocalScopeProvider.java._trace
/.MiniJavaIndex.java._trace
/.MiniJavaResourceDescriptionsStrategy.java._trace
/.MiniJavaScopeProvider.java._trace
/MiniJavaImportedNamespaceAwareLocalScopeProvider.java
/MiniJavaIndex.java
/MiniJavaResourceDescriptionsStrategy.java
/MiniJavaScopeProvider.java
