/.LogoDescriptionLabelProvider.java._trace
/.LogoDescriptionLabelProvider.xtendbin
/.LogoLabelProvider.java._trace
/.LogoLabelProvider.xtendbin
/LogoDescriptionLabelProvider.java
/LogoLabelProvider.java
